<p id="notice"><%= notice %></p>

<%# @ressources = Ressource.paginate(page: params[:page], per_page: 4) %>
<%# @ressources = Ressource.paginate(page: params[:page]) %>
<h1>Ressources</h1>

<ul>
<% @ressources_paginate.each do |ressource| %>
        <li><%= link_to ressource.title, ressource_path(ressource) %></li>
<% end %>
</ul>
<%= will_paginate @ressources_paginate %>

<% if user_signed_in? %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Mini description</th>
      <th>Link</th>
      <th>Link2</th>
      <th>Author</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Id</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ressources_paginate.each do |ressource| %>
      <tr>
        <td><%= ressource.title %></td>
        <td><%= ressource.description %></td>
        <td><%= ressource.mini_description %></td>
        <td><%= ressource.link %></td>
        <td><%= ressource.link2 %></td>
        <td><%= ressource.author.slug %></td>
        <td><%= ressource.category.title %></td>
        <td><%= ressource.subcategory.title %></td>
        <td><%= ressource.id %></td>
        <td><%= image_tag(ressource.image, width: 200) if ressource.image.attached? %></td>
        <td><%= link_to 'Show', ressource %></td>
        <td><%= link_to 'Edit', edit_ressource_path(ressource) %></td>
        <td><%= link_to 'Destroy', ressource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @ressources_paginate %>
<% end %>

<%= link_to 'New Ressource', new_ressource_path %>
