<div class="rs-nav shadow-smooth mt-3">
  <div class="rs-show-left d-lg-flex justify-content-between w-100">
    <div class="rs-show-title">
    <p class="text-white"><%= link_to 'Auteurs', authors_path %> > <%= @author.slug %></p>
      <h1 class="text-white font-weight-bold rs-show-title-txt"><%= @author.id %>. <%= @author.name %> <%= @author.last_name %></h1>
      <p class="text-white"><%= @author.slug %></p>
    </div>
    <div class="rs-show-link1 ml-auto">
        <%= link_to "Le site de l'auteur", "http://#{@author.website}", :class => 'btn btn-primary shadow-smooth mr-auto' %>
    </div>
  </div>
</div>
<h4 class="text-white mt-3 font-weight-bold">Description:</h4>
<p class="text-white"><%= @author.description %></p>
<% if user_signed_in? %>
      <%= link_to "Éditer l'auteur", edit_author_path(@author), :class => 'btn btn-darker shadow-smooth mt-3' %>
<% end %>
<h4 class="text-white mt-3 font-weight-bold">Ressources:</h4>
<div class="mt-3 d-flex justify-content-center">
  <%= will_paginate @ressources_paginate, :previous_label => 'Précédent ', :next_label => ' Suivant' %>
</div>

<div class="rs-wrap mt-3">
  <% @ressources_paginate.each.with_index do |ressource, index|%>
    <% if ressource.author_id == @author.id %>
      <div class="card rs-card bg-darker">
          <div class="card-body">
          <div class="d-flex">
              <% if ressource.image.attached?  %>
              <%= image_tag(ressource.image, :class => 'rs-card-img bg-dark d-flex justify-content-center align-items-center') %>
              <% else %>
              <div class="rs-card-img bg-dark d-flex justify-content-center align-items-center">
                  <p class="text-center m-0 font-weight-bold no-logo">Pas de logo</p>
              </div>
              <% end %>
              <div class="ml-3 rs-card-title-box">
                  <h5 class="card-title text-white font-weight-bold"><%=ressource.title%></h5>
                  <div class="d-flex mb-3">
                      <%= link_to ressource.category.title , category_path(ressource.category), :class => 'card-text text-white' %>
                      <%= link_to ressource.subcategory.title , subcategory_path(ressource.subcategory), :class => 'card-text ml-2 text-white' %>
                  </div>
              </div>
          </div>
              <p class="card-text text-white mb-3"><%=ressource.mini_description%></p>
              <div class="d-flex justify-content-end">
                  <%= link_to 'Voir plus' , ressource_path(ressource), :class => 'btn my-2 my-sm-0 btn-primary shadow-smooth' %>
              </div>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="mt-3 d-flex justify-content-center">
  <%= will_paginate @ressources_paginate, :previous_label => 'Précédent ', :next_label => ' Suivant' %>
</div>
