<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<ul>
<% lasts = @ressources.last(6) %>
<% if !lasts.blank? %>
    <% lasts.each.with_index do |ressource, index|%>
        <li><%=ressource.id%></li>
    <% end %>
<% end %>
</ul>
<% if user_signed_in? %>
<%= link_to current_user.email, edit_user_registration_path %>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Log In", new_user_session_path %>
<% end %>