<!DOCTYPE html>
<html>
  <head>
    <title>Ressources</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <%end%>
    <% if alert %>
      <div class="alert alert-warning">
        <%= alert %>
      </div>
    <%end%>
    <div class="layoutContainer bg-dark">
      <div class="appContainer">
        <%= yield %>
      </div>
    </div>
    <div class="barlat shadow-smooth" id="barlat">
      <div class="arrow" id="arrow">
        <div class="arrow1" id="arrow1"></div>
        <div class="arrow2" id="arrow2"></div>
        <div class="arrow3" id="arrow3"></div>
      </div>
      <% if request.path == ressources_path %>
        <span class="current-cat">
      <% end %>
        <div class="barlat-cat d-flex align-items-center mt-3">
          <%= link_to ressources_path, :action => 'go' do %>
            <div class="barlat-cat-img letter-link">
              R
            </div>
          <% end %>
          <%= link_to "Toutes les ressources", ressources_path, :class => 'barlat-cat-link ml-3'%>
        </div>
      <% if request.path == ressources_path %>
        </span>
      <% end %>

      <% if request.path == categories_path %>
        <span class="current-cat">
      <% end %>
        <div class="barlat-cat d-flex align-items-center mt-3">
          <%= link_to categories_path, :action => 'go' do %>
            <div class="barlat-cat-img letter-link">
              C
            </div>
          <% end %>
          <%= link_to "Toutes les catégories", categories_path, :class => 'barlat-cat-link ml-3'%>
        </div>
      <% if request.path == categories_path %>
        </span>
      <% end %>

      <% if request.path == subcategories_path %>
        <span class="current-cat">
      <% end %>
        <div class="barlat-cat d-flex align-items-center mt-3">
          <%= link_to subcategories_path, :action => 'go' do %>
            <div class="barlat-cat-img letter-link">
              SC
            </div>
          <% end %>
          <%= link_to "Toutes les sous-catégories", subcategories_path, :class => 'barlat-cat-link ml-3'%>
        </div>
      <% if request.path == subcategories_path %>
        </span>
      <% end %>

      <% Category.all.each do |category| %>
        <% if request.path == category_path(category) %>
          <span class="current-cat">
        <% end %>
        <div class="barlat-cat d-flex align-items-center mt-3">
          <%= link_to category_path(category), :action => 'go' do %>
            <% if category.image.attached?  %>
              <div class="barlat-cat-img bg-dark d-flex justify-content-center align-items-center">
                  <%= image_tag(category.image, :class => 'rs-show-img bg-dark d-flex justify-content-center align-items-center') %>
              </div>
            <%else%>
              <div class="barlat-cat-img"></div>
            <% end %>
          <% end %>
          <%= link_to category.title, category_path(category), :class => 'barlat-cat-link ml-3'%>
        </div>
        <% if request.path == category_path(category) %>
          </span>
        <% end %>
      <% end %>
      <%= link_to propositions_path() do %>
              <button class="btn my-2 my-sm-0 btn-light-darken ml-lg-4 shadow-smooth btn-barlat mt-3" type="submit">Envoyer une proposition</button>
      <% end %>
      <% if user_signed_in? %>
          <div class="dropdown show ml-lg-4 shadow-smooth mr-auto btn-barlat mt-3">
            <a class="btn btn-light-darken dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email.split('@')[0] %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              
              <a class="dropdown-item" href="<%= edit_user_registration_path %>">Compte</a>
              <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>
            </div>
          </div>
      <% else %>
        <%= link_to new_user_session_path do %>
              <button class="btn my-2 my-sm-0 btn-light-darken shadow-smooth ml-lg-4 btn-barlat mt-3" type="submit">Connexion</button>
        <% end %>
      <% end %>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="container-title-site navbar-brand d-flex align-items-center" href="/">
        <%= image_tag ("logo.svg"), :class => 'logo-site' %>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="titre-site">Ressources</p>
          <p class="soustitre-site">Antoine Tardivel</p>
        </div>
      </a>
      <div class="my-lg-0 ml-auto d-flex list-btn-nav">
        <a class="btn my-2 my-sm-0 btn-primary shadow-smooth gofolio" href="https://www.antoinetardivel.com" >Accès portfolio</a>
        <%= link_to propositions_path() do %>
          <button class="btn my-2 my-sm-0 btn-light-darken ml-lg-4 shadow-smooth btn-bartop" type="submit">Envoyer une proposition</button>
        <% end %>
        <% if user_signed_in? %>
        <div class="dropdown show ml-lg-4 shadow-smooth mr-auto btn-bartop">
          <a class="btn btn-light-darken dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email.split('@')[0] %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            
            <a class="dropdown-item" href="<%= edit_user_registration_path %>">Compte</a>
            <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>
          </div>
        </div>     
        <% else %>
          <%= link_to new_user_session_path do %>
            <button class="btn my-2 my-sm-0 btn-light-darken ml-lg-4 shadow-smooth btn-bartop" type="submit">Connexion</button>
          <% end %>
        <% end %>
      </div>
    </nav>
  </body>
</html>
 